<!-- <h2 #trigger>Deferrable Views</h2>
 -->
<!-- on - especifica uma condição de acionador usando um acionador da lista
 (idle, timer, viewport, interaction, hover, immediate, prefetch) 
 
 when - especifica uma condição imperativa para exibir o conteúdo deferrable booleano -->

<!-- No placeholder temos o parametro minimum que define o tempo minimo depois do download até ser feita a exibição -->

<!-- No LOADING temos os parametros  after e minimum que dizem se demorar x tempo, carregar por mais no minimo x tempo,  -->

<!-- <button (click)="isTrue = true"> Add true</button>

@defer ( on interaction ) {
    <app-template-control-flow></app-template-control-flow>
} @placeholder {
    <p>Mostrar antes de carregar</p>
} @loading (after 1ms; minimum 5s) {
    <p>Carregando...</p>
} @error {
    <p>Ocorreu um erro ao carregar os dados</p>
} -->